<div class="container login-container" style="padding-left: 20% ;">
  <div class="row">
    <div class="col-md-8 login-form-1">
      <h3>Doctor Login</h3>
      <form (ngSubmit)="onSubmit(username.value, password.value)">
        <div class="form-group">
          <input
            type="text"
            id="username"
            class="form-control"
            name="username"
            placeholder="Your UserId *"
            value=""
            ngModel
            #username="ngModel"
            required
          />
          <div
            class="alert alert-warning"
            *ngIf="username.touched && !username.valid"
          >
            *Username is required
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            placeholder="Your Password *"
            value=""
            ngModel
            #password="ngModel"
            required
          />

          <div
            class="alert alert-warning"
            *ngIf="password.touched && !password.value"
          >
            *Password is required
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="Login" />
        </div>
        <div class="form-group">
          <a href="#" class="ForgetPwd">Forget Password?</a>
        </div>
        <!-- <div class="alert alert-warning" *ngIf="_authSerivce.loggedIn">
                                <strong>Invalid Credentials</strong>
                              </div> -->
      </form>
    </div>
  </div>
</div>
