<div style="padding:10%;padding-top: 15%;">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Doctor</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a
            [routerLink]="['/DoctorLogin/']"
            class="btn btn-primary"
            id="primary-bt"
            >Login</a
          >
          <a href="#" class="btn btn-primary" id="primary-bt">Register</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Administrator</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a [routerLink]="['/Login/']" class="btn btn-primary" id="primary-bt"
            >Login</a
          >
          <a
            [routerLink]="['/Register/']"
            class="btn btn-primary"
            id="primary-bt"
            >Register</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Patient</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a [routerLink]="['/Login/']" class="btn btn-primary" id="primary-bt"
            >Login</a
          >
          <a
            [routerLink]="['/Register/']"
            class="btn btn-primary"
            id="primary-bt"
            >Register</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
